
/* Isso aqui está usando para resetar algo */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    /* Pra fonte ficar mais suave */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Variáveis CSS */
:root {
    --bg-color: #09090b;
    --surface-color: #18181b;
    --stroke-color: #27272A;
    --text-color-primary: #f4f4f5;
    --text-color-secondary: #a1a1aa;
    --brand-color-primary: #f7b733;
    --brand-color-secondary: #FC4A1A;

    --ff-sans: 'Inter', system-ui, sans-serif; /* ff-sans significa font family */ 
    --fw-base: 400; /* fw-base significa font weight */
    --fw-md: 500; /* font weight medium */
    --fw-bold: 800; /* font weight bold */

    /* variáveis de fontes para o mobile */
    --fs-sm: 0.875rem; /* font size small 14px/16=0.875 */
    --fs-base: 1rem; /* font size 16px/16=1 */
    --fs-lg: 1.25rem; /* font size large 20px/16=1.25 */
    --fs-xl: 1.5rem; /* font size extra large 24px/16=1.5 */
    --fs-2xl: 2.5rem; /* font size 2x extra large 40px/16=2.5 */

    /* Variáveis de padding para o mobile */
    --py-base: 1rem; /* padding eixo y 16px/16=1 */
    --py-lg: 1.5rem; /* padding eixo y 24px/16=1.5 */
    --py-xl: 3rem; /* padding do eixo y 48px/16=3 */

    --px-lg: 1.5rem; /* padding do eixo x 24px/16=1.5 */
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6; /* Essa é a infomação que sempre consta no style guide */
    color: var(--text-color-primary);
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1 {
    font-size: var(--fs-2xl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-lg);
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role="list"] {
    list-style: none;
}

/* Desktop */
@media (width >= 80em) {
    :root {
        /* variáveis de fontes para o desktop */
        --fs-lg: 2rem; /* 32px/16=2 */
        --fs-xl: 3rem; /* 48px/16=3 */
        --fs-2xl: 4rem; /* 64px/16=4 */

        /* Variáveis de padding para o desktop */
        --py-base: 1.5rem; /* padding eixo y 24px/16=1.5 */
        --py-lg: 2.5rem; /* padding eixo y 40px/16=2.5 */
        --py-xl: 5rem; /* padding do eixo y 80px/16=5 */

        --px-lg: 2rem; /* padding do eixo x 32px/16=2 */
    }
}