.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}

.px-lg {
    padding-inline: var(--px-lg);
}

.container {
    /* Variável para o mobile */
    --max-width: 375px;
    /* isso é um cálculo para o espaço lateral */
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    /* isso centraliza */
    margin-inline: auto;
    border: solid violet;
}

.desktop-only {
    display: none;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}

/* Desktop */
@media (width >= 80em) {
    .container {
        /* variável para o desktop */
        --max-width: 80rem;
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}